@import "variables";
@import "mixins";
@import "body";
@import "buttons";
@import "offcanvas";
@import "setting-slick";

html {
  font-size: 14px;
  scroll-behavior: smooth;

  @include respond-to(xs) {
    font-size: 12px;
  }

  @include respond-to(sm) {
    font-size: 13px;
  }
}

a:hover {
  text-decoration: none;
  color: initial;
}

*,
*:hover,
*:focus {
  outline: none !important;
  text-decoration: none;
}


.main-brand__fixed {
  display: none;

  @include respond-to (sm) {
    display: none !important;
  }
}

body {
  font-family: 'Brandon Text Regular';
  color: #000;
  // background-color: #fcf4ea;

  & :focus {
    outline: none;
  }
}

.mt-btn {
  margin-top: 2.2rem;
}

.padding-top-bottom {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.container-grid {
  display: grid;
}

.main-general__button {
  border-radius: 3px;
  box-shadow: 0 12px 31px 0 rgba(157, 204, 73, 0.43);
  background-color: $green;
  /* width: 169px; */
  /* height: 51px; */
  font-weight: bold;
  transition: .5s;

  /* height: 51px; */
  padding: .8rem 2rem;
  color: #fff;

  &:hover {
    box-shadow: 0 12px 31px 0 rgba(157, 204, 73, 0.56);
    background-color: #007844;
    transition: .5s;
  }
}


.brand-responsive {
  display: none;

  @include respond-to(xs) {
    display: initial;
  }
}


button:focus {
  outline: 5px auto transparent;
}

.img-round {
  border-radius: 5px;
}


@font-face {
  font-family: 'Brandon Text Medium';
  font-style: normal;
  font-weight: normal;
  src: local("Brandon Text Medium"), url("../fonts/HVD Fonts - BrandonText-Medium.woff") format("woff");
}

@font-face {
  font-family: 'Brandon Text Medium Italic';
  font-style: normal;
  font-weight: normal;
  src: local("Brandon Text Medium Italic"), url("../fonts/HVD Fonts - BrandonText-MediumItalic.woff") format("woff");
}

@font-face {
  font-family: 'Brandon Text Regular';
  font-style: normal;
  font-weight: normal;
  src: local("Brandon Text Regular"), url("../fonts/HVD Fonts - BrandonText-Regular.woff") format("woff");
}

@font-face {
  font-family: 'Brandon Text Regular Italic';
  font-style: normal;
  font-weight: normal;
  src: local("Brandon Text Regular Italic"), url("../fonts/HVD Fonts - BrandonText-RegularItalic.woff") format("woff");
}

@font-face {
  font-family: 'Brandon Text Thin';
  font-style: normal;
  font-weight: normal;
  src: local("Brandon Text Thin"), url("../fonts/HVD Fonts - BrandonText-Thin.woff") format("woff");
}

@font-face {
  font-family: 'Brandon Text Thin Italic';
  font-style: normal;
  font-weight: normal;
  src: local("Brandon Text Thin Italic"), url("../fonts/HVD Fonts - BrandonText-ThinItalic.woff") format("woff");
}

@font-face {
  font-family: 'Brandon Text Light';
  font-style: normal;
  font-weight: normal;
  src: local("Brandon Text Light"), url("../fonts/HVD Fonts - BrandonText-Light.woff") format("woff");
}

@font-face {
  font-family: 'Brandon Text Light Italic';
  font-style: normal;
  font-weight: normal;
  src: local("Brandon Text Light Italic"), url("../fonts/HVD Fonts - BrandonText-LightItalic.woff") format("woff");
}

@font-face {
  font-family: 'Brandon Text Bold';
  font-style: normal;
  font-weight: normal;
  src: local("Brandon Text Bold"), url("../fonts/HVD Fonts - BrandonText-Bold.woff") format("woff");
}

@font-face {
  font-family: 'Brandon Text Bold Italic';
  font-style: normal;
  font-weight: normal;
  src: local("Brandon Text Bold Italic"), url("../fonts/HVD Fonts - BrandonText-BoldItalic.woff") format("woff");
}

@font-face {
  font-family: 'Brandon Text Black';
  font-style: normal;
  font-weight: normal;
  src: local("Brandon Text Black"), url("../fonts/HVD Fonts - BrandonText-Black.woff") format("woff");
}

@font-face {
  font-family: 'Brandon Text Black Italic';
  font-style: normal;
  font-weight: normal;
  src: local("Brandon Text Black Italic"), url("../fonts/HVD Fonts - BrandonText-BlackItalic.woff") format("woff");
}

@font-face {
  font-family: 'MADE SAONARA';
  src: url('../fonts/MADESAONARA.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.padding-top-bottom {
  padding-top: 104px;
  padding-bottom: 104px;

  @include respond-to(xs) {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.padding-right-left {
  padding-right: 125px;
  padding-left: 114px;

  @include respond-to(xs) {
    padding-right: 25px;
    padding-left: 25px;
  }

  @include respond-to(sm) {
    padding-left: 50px;
    padding-right: 50px;
  }
}

.container-grid {
  display: grid;
}

.main-general__title {
  font-family: 'MADE SAONARA';
  font-size: 45px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.13px;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 11px;

  @include respond-to(xs) {
    font-size: 30px;
  }
}

.main-general__subtitle {
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 2px;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
}

.main-general__description {
  font-size: 15px;
  font-weight: 300;
  font-stretch: normal;
  font-family: 'Brandon Text Light';

  font-style: normal;
  line-height: 1.47;
  letter-spacing: 0.75px;
  color: #000000;
}

.general-btn__simple {
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.73px;
  color: #000000;
  text-decoration: underline;
  text-transform: uppercase;
}

.general-btn__rose {
  font-size: 13px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.73px;
  color: #000000;
  border-radius: 2px;
  background-color: #d0bd9b;
  width: 215px;
  height: 50px;
  display: flex;
  text-transform: uppercase;
  font-family: Brandon Text Bold;
  justify-content: center;
  align-items: center;
  transition: .3s;

  &:hover {
    transition: .3s;
    background: #e6d8be;
    color: initial;

  }
}

.pre-navbar {
  height: 60px;
  background-color: #f0e3d4;
  display: flex;
  justify-content: center;
  align-items: center;

  p {
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.35px;
    margin-bottom: 0;
    color: #000000;
  }
}

.navbar {
  background-color: transparent;
  transition: .3s ease-in-out;
  padding: 0;
  display: flex;
  // box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  // background: $white;
  flex-direction: column;

  @include respond-to(sm) {
    background-color: #fff;
  }

  @include respond-to(xs) {
    background-color: #fff;
  }

  &.fixed {
    background-color: $white;
    box-shadow: rgba(191, 191, 191, 0.72) 2px 1px 8px;
    transition: .3s ease-in-out;
  }

  .main-rrss__responsive {
    display: none;

    @include respond-to(xs) {
      display: flex;
      list-style: none;
      margin-top: 1rem;
      padding-left: 0;
      justify-content: space-around;
      flex-wrap: wrap;


      & img {
        @include respond-to(xs) {
          width: 54px;
          height: 54px;
          ;
        }
      }
    }
  }
}

.container-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.nav-item {


  & a {
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.3px;
    color: #000000;
    text-transform: uppercase;
  }
}

.nav-icon {
  padding-left: 70px;
  list-style: none;
  display: flex;

  a {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }

  img {
    width: 16px;
    height: 16px;
    object-fit: contain;
  }
}

.navbar {
  .navbar-nav {
    // min-height: 5rem;
  }

}

.main-brand {
  @include respond-to(sm) {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  @include respond-to(xs) {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}

.nav-link {

  transition: .3s ease-in-out;
  font-size: 1rem;
  padding-right: 1.2rem !important;
  padding-left: 1.2rem !important;

}



.navbar-brand {
  display: flex;
  align-items: center;
  margin-right: 0;

  img {
    margin-top: 19px;
    object-fit: contain;
    margin-bottom: 10px;
    width: 90px;
    height: 56px;
  }

  @include respond-to(xs) {
    width: initial;
    margin-left: 10px;
  }

  @include respond-to(sm) {
    width: initial;
  }
}

.main-brand__top {
  @include respond-to(xs) {
    display: none !important;
  }

  @include respond-to(sm) {
    display: none !important;
  }
}

.navbar-nav {
  width: 100%;
  justify-content: flex-end;
  margin-bottom: 9px;
  align-items: flex-end;
}

.navbar-collapse {
  justify-content: flex-end;
}

header {
  background-color: rgba(255, 255, 255, 0.71);
  position: absolute;
  width: 100%;
  z-index: 1;
}

.header-solid {
  background-color: #fcf4ea;
  position: initial;
}

.nav-top__header {
  width: 100%;
  background-color: $lightBlack;
  padding: 10px;
  transition: .3s ease-in-out;

  &.nav-top__header--detele {
    display: none !important;
    transition: .3s ease-in-out;
  }

  @include respond-to(sm) {
    display: none;
  }

  @include respond-to(xs) {
    display: none;
  }
}

.nav-top__content {
  padding: 0 100px;
}

.main-nav__contact {
  a {
    color: $lightWhite;
    text-decoration: none;
  }
}


.main-banner {
  overflow: hidden;

  .main-banner__content {
    margin-bottom: 0;
  }

  .main-banner__item {
    position: relative;
  }

  .main-banner__text {
    position: absolute;
    width: 49%;
    display: flex;
    height: 100%;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    right: 0;

    // background: #4a4a4a70;

    @include respond-to(xs) {
      width: 100%;
      padding: 0;
      // background: #dcdcdcd9;
      align-items: center;
    }

    @include respond-to(sm) {
      width: 100%;
      padding: 0;
      // background: #dcdcdcd9;
      align-items: center;
    }

    .main-banner__title {
      margin-top: 130px;
      height: max-content;
      width: 100%;
      background-color: rgba(255, 255, 255, 0.5);
      padding: 22px 33px;

      h2 {
        font-size: 45px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: 1.13px;
        color: #000000;
        text-transform: uppercase;
        font-family: $made;
      }
    }
  }

  .main-banner__img {
    width: 100%;
    height: 964px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.main-featured {
  background-color: #fcf4ea;

  .padding-top-bottom {
    padding-bottom: 53px;
  }

  .main-featured__btn {
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.38px;
    color: #000000;
    text-transform: uppercase;
    text-align: center;

    i {
      margin-left: 5px;
      font-size: 17px;
    }
  }

  .main-featured__carousel {
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 80px;
  }

  .main-general__subtitle {
    margin-bottom: 79px;
  }
}

.main-featured__product {
  margin-right: 10px;
  margin-left: 10px;

  .main-featured__img {
    margin-bottom: 29px;

    img {
      width: 100%;
    }
  }

  .main-featured__title {
    font-size: 12px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 9px;
    letter-spacing: 0.6px;
    text-align: center;
    color: #000000;
    display: inline-block;
    font-family: 'Brandon Text Medium';
  }

  .main-featured__price {
    font-size: 15px;
    margin-bottom: 25px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.75px;
    color: #000000;
    font-family: 'Brandon Text Medium';
  }

  .main-featured__text {
    text-align: center;
  }
}

.main-about {
  .main-general__subtitle {
    margin-bottom: 83px;
  }

  .container-grid {
    grid-template-columns: 1fr 1fr;
    gap: 121px;

    @include respond-to(xs) {
      grid-template-columns: 100%;
      gap: 20px;
    }

    @include respond-to(sm) {
      grid-template-columns: 100%;
      gap: 20px;
    }

    .main-about__img {
      img {
        width: 100%;
        object-fit: cover;
      }
    }
  }

  .main-general__description {
    margin-bottom: 23px;
  }

  .main-about__btn {
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.38px;
    color: #000000;
    text-transform: uppercase;

    i {
      margin-left: 5px;
      font-size: 17px;
    }
  }
}

.main-categories__item {
  &:nth-child(even) {
    .main-categories__details {
      background-color: #fff;

    }

    .main-categories__img {
      order: -1;

      @include respond-to(xs) {
        order: initial;
      }
    }
  }

  .container-grid {
    grid-template-columns: 1fr 1fr;

    @include respond-to(xs) {
      grid-template-columns: 100%;
    }

    @include respond-to(sm) {
      grid-template-columns: 100%;
    }
  }

  .main-categories__img {
    position: relative;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    @include respond-to(sm) {
      order: -1;

    }
  }

  .main-categories__details {
    background-color: #faf5ee;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 104px;

    @include respond-to(xs) {
      padding-left: 25px;
      padding-right: 25px;
      padding-top: 50px;
      padding-bottom: 50px;
    }

    @include respond-to(sm) {
      padding-top: 104px;
      padding-bottom: 104px;
    }
  }

  .main-categories__text {
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 2px;
    text-align: center;
    color: #000000;
    text-transform: uppercase;
    margin-bottom: 0;

  }

  .main-categories__poster {
    margin-bottom: 13px;
    margin-top: 13px;
    width: 364px;
    height: 452px;
    object-fit: contain;

    @include respond-to(xs) {
      width: 100%;
    }
  }

  .main-categories__icon {
    width: 50px;
    height: 74px;
    margin-bottom: 9px;
    object-fit: contain;
  }

  .main-categories__mask {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }

  .main-categories__title {
    font-size: 120px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 3px;
    text-align: center;
    color: #ffffff;
    font-family: $made;
    margin-bottom: 121px;

    @include respond-to(xs) {
      font-size: 37px;
    }
  }
}

.main-blog {

  .main-blog__item {
    margin-bottom: 45px;

    .container-grid {
      gap: 62px;
      grid-template-columns: 658px 1fr;

      @include respond-to(xs) {
        grid-template-columns: 100%;
      }

      @include respond-to(sm) {
        grid-template-columns: 100%;
      }
    }

    &:nth-child(even) {
      .main-blog__img {
        order: -1;

        @include respond-to(xs) {
          order: initial;
        }
      }

      .container-grid {
        grid-template-columns: 600px 1fr;

        @include respond-to(xs) {
          grid-template-columns: 100%;
        }

        @include respond-to(sm) {
          grid-template-columns: 100%;
        }
      }

      .main-blog__text {
        padding-left: 165px;
        padding-right: 250px;
        margin-top: 30px;

        @include respond-to(xs) {
          padding-left: 25px;
          padding-right: 25px;
        }

        @include respond-to(sm) {
          padding-left: 50px;
          padding-right: 50px;
        }
      }
    }
  }



  .main-blog__img {
    img {
      width: 100%;
      object-fit: cover;
    }
  }

  .main-blog__text {
    margin-top: 115px;
    padding-left: 293px;

    @include respond-to(xs) {
      padding-left: 25px;
      padding-right: 25px;
    }

    @include respond-to(sm) {
      padding-left: 25px;
      padding-right: 25px;
    }

    @include respond-to(sm) {
      padding-left: 50px;
      padding-right: 50px;
    }
  }

  .main-blog__title {
    font-size: 45px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1.13px;
    color: #000000;
    font-family: $made;
    text-transform: uppercase;
    margin-bottom: 36px;

    @include respond-to(xs) {
      font-size: 30px;
    }
  }

  .main-blog__counter {
    font-size: 20px;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.5px;
    color: #000000;
    font-family: Brandon Text Medium;
    margin-bottom: 10px;
  }
}

.main-break {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;

  @include respond-to(xs) {
    padding: 25px;
  }

  .main-break__img {
    img {
      width: 100%;
      height: 100%;

      @include respond-to(xs) {
        width: 100%;
      }
    }
  }

  .main-break__mask {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      margin-top: 107px;
      width: 300px;
      height: 58px;
      object-fit: contain;

      @include respond-to(xs) {
        width: 180px;

      }
    }
  }
}

.main-sale {
  .container-grid {
    grid-template-columns: 1fr 1fr;

    @include respond-to(xs) {
      grid-template-columns: 100%;
    }

    @include respond-to(sm) {
      grid-template-columns: 100%;
    }
  }

  .main-sale__img {
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .main-sale__text {
    padding-bottom: 82px;
    padding-top: 66px;
    padding-left: 51px;
    padding-right: 51px;

    @include respond-to(xs) {
      padding-left: 25px;
      padding-right: 25px;
    }
  }

  .main-sale__description {
    font-size: 20px;
    margin-bottom: 5px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.5px;
    color: #000000;
  }

  .main-sale__title {
    font-size: 100px;
    font-family: $made;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 2.5px;
    margin-bottom: 16px;
    color: #000000;

    @include respond-to(xs) {
      font-size: 37px;
    }
  }
}

.main-footer {
  background-color: #faf5ee;

  .padding-top-bottom {
    padding-bottom: 52px;
  }

  .padding-right-left {
    padding-left: 54px;
    padding-right: 54px;

    @include respond-to(xs) {
      padding-left: 25px;
      padding-right: 25px;
    }
  }

  .container-grid {
    grid-template-columns: 30% repeat(3, 1fr);
    gap: 6rem;

    @include respond-to(xs) {
      grid-template-columns: 100%;
      gap: 2rem;
    }

    @include respond-to(sm) {
      gap: 10px;
      grid-template-columns: repeat(4, 1fr);
    }

  }

  .main-footer__logo {
    margin-bottom: 27px;

    @include respond-to(xs) {
      display: flex;
      justify-content: center;
    }

    img {
      width: 128px;
      height: 80px;
    }
  }


  .main-footer__title {
    font-size: 12px;
    font-family: 'Brandon Text Bold';
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #d0bd9b;
    text-transform: uppercase;
    margin-bottom: 9px;
  }

  .main-footer__description {
    margin-bottom: 25px;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.3px;
    color: #000000;
  }

  .main-footer__rrss {
    display: flex;
    align-items: center;

    p {
      font-size: 13.2px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: 0.33px;
      text-align: center;
      color: #000000;
      text-transform: uppercase;
      margin-bottom: 0;
      margin-right: 20px;

      @include respond-to(xs) {
        display: none;
      }

      @include respond-to(sm) {
        display: none;
      }
    }
  }

  .rrss__item {
    width: 30px;
    height: 30px;
    background-color: #c0a980;
    margin-right: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;

    @include respond-to(xs) {
      width: 40px;
      height: 40px;
    }

    img {
      width: 16px;
      height: 16px;
      object-fit: contain;
    }
  }
}

.main-footer__contact {
  list-style: none;
  padding: 0;

  li {
    margin-bottom: 7px;
  }

  li a {
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
    text-transform: uppercase;
  }

  img {
    width: 16px;
    margin-right: 8px;
    height: 16px;
    object-fit: contain;
  }
}

.site-map {
  padding: 0;
  margin: 0;
  list-style: none;

  li {
    margin-bottom: 5px;

    a {
      font-size: 12px;
      // font-family: 'Brandon Text Bold';
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #000;
      text-transform: uppercase;
      margin-bottom: 9px;
      transition: .3s;


      &:hover {
        // color: #007844;
        transition: .3s;
      }
    }
  }
}


.main-powered {
  position: relative;
  padding-top: 17px;
  padding-bottom: 17px;
  background-color: #e6d8be;
  // padding: 2rem 0;
  display: flex;
  justify-content: center;

  .slider-top {
    position: absolute;
    margin: 0;
    right: 0;

    img {
      width: 3rem;
    }
  }

  .main-powered__flex {

    @include respond-to(xs) {
      flex-direction: column;
      align-items: center;
    }
  }

  & p {
    text-align: center;
    margin-bottom: 0;
    font-size: 13.2px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.66;
    letter-spacing: 0.33px;
    text-align: center;
    color: #000000;
  }

  & a {
    text-transform: uppercase;
    font-size: 13.2px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.66;
    letter-spacing: 0.33px;
    text-align: center;
    color: #000000;
    margin-left: 4px;
    margin-right: 4px;

    transition: .5s;

    &:hover {
      // color: $blue;
      transition: .5s;
    }
  }
}


/*botón up*/
.boton-subir {
  display: none;
  position: fixed;
  right: 0;
  bottom: 14px;
  z-index: 999999999;
}

.slider-top img {
  width: 3rem;
}


.main-whatsapp {
  position: fixed;
  bottom: 3rem;
  right: 3rem;

  img {
    width: 4.5rem;
  }
}

.contact {
  padding: 60px 60px 42px 60px;

  @include respond-to(xs) {
    padding-left: 25px;
    padding-right: 25px;
  }

  .container-grid {
    gap: 151px;
    grid-template-columns: 1fr 365px;

    @include respond-to(xs) {
      grid-template-columns: 100%;
      gap: 40px;
    }

    @include respond-to(sm) {
      grid-template-columns: 100%;
      gap: 60px;

    }

    @include respond-to(md) {
      gap: 60px;

    }
  }

  .contact-form__title {
    font-size: 15px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-transform: uppercase;
    color: #d0bd9b;
    font-family: Brandon Text Regular;
    margin-bottom: 14px;
  }

  .contact-form__description {
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.19px;
    color: #000000;
    font-family: Brandon Text Regular;
    margin-bottom: 25px;
  }

  form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  input {
    margin-bottom: 27px;

    &:nth-child(1),
    &:nth-child(2) {
      width: 49%;
    }
  }

  input,
  textarea {
    padding: 20px;
    border-radius: 2px;
    border: solid 1px #d0bd9b;
    width: 100%;

    &::placeholder {
      font-size: 13px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #000000;
      font-family: Brandon Text Medium;
    }
  }

  textarea {
    height: 314px;
    margin-bottom: 32px;
  }

  .contact-list {
    list-style: none;
    padding-left: 0;

    li {
      display: flex;
      align-items: flex-start;
      margin-bottom: 15px;
    }

    a {
      font-size: 13px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #000000;
      font-family: Brandon Text Regular;
    }

    p {
      font-family: Brandon Text Medium;
      margin-bottom: 0;
    }

    img {
      width: 18px;
      margin-right: 8px;
      height: 18px;
      object-fit: contain;
    }
  }
}

.general-banner {
  position: relative;
  height: 373px;

  @include respond-to(xs) {
    height: 118px;
  }

  @include respond-to(sm) {
    height: 200px;
  }

  @include respond-to(md) {
    height: 268px;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .main-general__title {
    margin-bottom: 0;

  }

  .general-banner__text {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .general-banner__subtitle {
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 2px;
    color: #000000;
    font-family: Brandon Text Regular;
    text-transform: uppercase;
    text-align: center;

  }
}

.error-404 {
  position: relative;

  img {
    width: 100%;
    height: 667px;
    object-fit: cover;
  }

  .error-404__text {
    padding: 49px;
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

  }

  .error-404__title {
    font-size: 30px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    text-transform: uppercase;
    line-height: normal;
    letter-spacing: 2px;
    color: #ffffff;
    font-family: Brandon Text Black;
    margin-bottom: 9px;

    @include respond-to(xs) {
      font-size: 25px;
    }
  }

  .error-404__title--bold {
    font-family: Brandon Text Bold;
    margin-bottom: 37px;
  }

  .error-404__subtitle {
    font-size: 25px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1.67px;
    margin-bottom: 0;
    text-transform: uppercase;
    color: #ffffff;


    @include respond-to(xs) {
      font-size: 15px;
    }
  }

  .error-44__number {
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    font-family: Brandon Text Bold;
    font-size: 300px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: .8;
    letter-spacing: normal;
    color: #ffffff;
    margin-bottom: 30px;

    @include respond-to(xs) {
      font-size: 115px;
    }
  }
}

.blog-general {
  padding: 23px 57px;

  .container-grid {
    grid-template-columns: 1fr 318px;
    gap: 119px;
  }

  .blog-general__paginator {

    a {
      margin-right: 36px;
      font-size: 16px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      font-family: Brandon Text Medium;
      letter-spacing: normal;
      color: #000000;
    }

    img {
      width: 20px;
      height: 20px;
      object-fit: contain;
    }
  }
}

.blog-general__post {
  border-bottom: 1px solid #d0bd9b;
  margin-bottom: 38.6px;

  .blog-general__poster {
    margin-bottom: 38px;
  }

  .blog-general__description {
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.19px;
    color: #000000;
    margin-bottom: 9px;
  }

  .blog-general__meta {
    list-style: none;
    padding-left: 0;
    display: flex;
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.45px;
    color: #000000;

    li {
      margin-right: 19px;
    }

    img {
      width: 15px;
      margin-right: 5px;
      height: 15px;
      object-fit: contain;
    }

    a {
      color: #000000;

    }
  }

  .blog-general__title {
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
    font-family: $made;
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 13px;
    display: inline-block;

    &::before {
      position: absolute;
      content: "";
      width: 62px;
      height: 1px;
      background: #c0a980;
      bottom: 0;
    }
  }

  .blog-general__autor {
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
    margin-bottom: 35px;

    span {
      color: #c0a980;
    }
  }

  .general-blog__flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 58px;
  }

  .general-blog__btn {
    font-size: 13px;
    text-transform: uppercase;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1.73px;
    color: #000000;
    display: block;
    font-family: Brandon Text Medium;
    border-bottom: 1px solid;
  }

  .general-blog__icon {
    a {
      font-size: 13px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      color: #000000;

      &:nth-child(1) {
        margin-right: 10px;
      }
    }

    img {
      margin-right: 9px;

    }
  }
}