!!!
%html{ lang: 'en' }
  %head
    %meta{ charset: 'UTF-8' }/
    %meta{ content: 'width=device-width, initial-scale=1.0', name:'viewport' }/
    %title Rosary
    %link{:crossorigin => "anonymous", :href => "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css", :integrity => "sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T", :rel => "stylesheet"}/
    %link{ rel: 'stylesheet', href:'assets/css/font-awesome.css' }/
    %link{ rel: 'stylesheet', href:'assets/css/font-awesome.css' }/
    %link{ rel: 'stylesheet', href:'assets/css/slick-theme.css' }/
    %link{ rel: 'stylesheet', href:'assets/css/slick.css' }/
    %link{ rel: 'stylesheet', href:'assets/css/main.css' }/
    %link{ rel: 'stylesheet', href:'https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css' }/
    %link{:href => "assets/img/favicon.png", :rel => "shortcut icon"}/
    %link{ href:'https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900|Open+Sans:300,400,600,700,800|Poppins:100,200,300,400,500,600,700,800,900&display=swap',  rel:'stylesheet' }/
  %body
    %section.pre-navbar
      %p AHORA  | ENVÍO GRATIS - CUPÓN: GRATIS
    %header.header-solid    
      %nav.navbar.navbar-expand-lg
        .container-nav
          .main-brand__top
            .main-brand
              %a.navbar-brand{ :href => 'index.html' }
                %img#iso{ :src => 'assets/img/logo.png'}/ 
          .main-brand__fixed
            .main-brand
              %a.navbar-brand{ :href => 'index.html' }
                %img#iso{ :src => 'assets/img/logo.png' }/ 
          .main-brand.brand-responsive
            %a.navbar-brand{ :href => 'index.html' }
              %img#iso{ :src => 'assets/img/logo.png'}/ 
            %button.navbar-toggler.p-2.border-0.hamburger.hamburger--elastic.ml-autos{ 'data-toggle' => 'offcanvas', :type => 'button' }
              %span.hamburger-box
              %span.hamburger-inner
          .navbar-collapse.offcanvas-collapse
            %ul.navbar-nav.mr-autos
              %li.nav-item
                %a.nav-link{:href => 'new-in.html',:data-toggle => 'offcanvas' } 
                  New in 
              %li.nav-item
                %a.nav-link{:href => '',:data-toggle => 'offcanvas' } 
                  Recomendados
              %li.nav-item
                %a.nav-link{:href => '',:data-toggle => 'offcanvas' } 
                  Productos
              %li.nav-item
                %a.nav-link{:href => '',:data-toggle => 'offcanvas' } 
                  Cats & Dogs
              %li.nav-item
                %a.nav-link{:href => 'complementos-accesorios.html',:data-toggle => 'offcanvas' } 
                  Accesorios
              %li.nav-item
                %a.nav-link{:href => '',:data-toggle => 'offcanvas' } 
                  Personalizados
              %li.nav-item
                %a.nav-link{:href => 'nosotros.html',:data-toggle => 'offcanvas' } 
                  Nosotros
              %li.nav-item
                %a.nav-link{:href => 'blog.html',:data-toggle => 'offcanvas' } 
                  Blog
              %li.nav-item
                %a.nav-link{:href => '',:data-toggle => 'offcanvas' } 
                  Diseñalo tú mismo
              %li.nav-item
                %a.nav-link{:href => '',:data-toggle => 'offcanvas' } 
                  outlet
              %ul.nav-icon
                %li
                  %a.nav-link{:href => '',:data-toggle => 'offcanvas' } 
                    %img{:src=>"assets/img/profile@2x.png"}/ 
                %li
                  %a.nav-link{:href => '',:data-toggle => 'offcanvas' } 
                    %img{:src=>"assets/img/heart@2x.png"}/ 
                %li
                  %a.nav-link{:href => '',:data-toggle => 'offcanvas' } 
                    %img{:src=>"assets/img/bag@2x.png"}/ 

    

    %section.blog-general
      .container-grid
        .blog-general__all
          .blog-general__post
            %img.blog-general__poster{:src=>"assets/img/blog/image.png"}/
            %ul.blog-general__meta 
              %li
                %img{:src=>"assets/img/blog/calendar.png"}/
                %a{:href=>""} 
                  Julio 19, 2020
              %li
                %img{:src=>"assets/img/blog/tag.png"}/
                %a{:href=>""}
                  style-woman
            %a.blog-general__title{:href=>""}
              Lorem Ipsum is simply
            %p.blog-general__description
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley. 
            %p.blog-general__autor
              %span
                By:
              Admin
            .general-blog__flex
              %a.general-blog__btn{:href=>""}
                Continuar Leyendo
              .general-blog__icon
                %a{:href=>""}
                  %img{:src=>"assets/img/blog/share.png"}/
                %a{:href=>""}
                  %img{:src=>"assets/img/blog/comment.png"}/
                  0 comentarios              
          .blog-general__post
            %img.blog-general__poster{:src=>"assets/img/blog/image_2.png"}/
            %ul.blog-general__meta 
              %li
                %img{:src=>"assets/img/blog/calendar.png"}/
                %a{:href=>""} 
                  Julio 19, 2020
              %li
                %img{:src=>"assets/img/blog/tag.png"}/
                %a{:href=>""}
                  style-woman
            %a.blog-general__title{:href=>""}
              Lorem Ipsum is simply
            %p.blog-general__description
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley. 
            %p.blog-general__autor
              %span
                By:
              Admin
            .general-blog__flex
              %a.general-blog__btn{:href=>""}
                Continuar Leyendo
              .general-blog__icon
                %a{:href=>""}
                  %img{:src=>"assets/img/blog/share.png"}/
                %a{:href=>""}
                  %img{:src=>"assets/img/blog/comment.png"}/
                  0 comentarios     
          .blog-general__post
            %img.blog-general__poster{:src=>"assets/img/blog/image.png"}/
            %ul.blog-general__meta 
              %li
                %img{:src=>"assets/img/blog/calendar.png"}/
                %a{:href=>""} 
                  Julio 19, 2020
              %li
                %img{:src=>"assets/img/blog/tag.png"}/
                %a{:href=>""}
                  style-woman
            %a.blog-general__title{:href=>""}
              Lorem Ipsum is simply
            %p.blog-general__description
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley. 
            %p.blog-general__autor
              %span
                By:
              Admin
            .general-blog__flex
              %a.general-blog__btn{:href=>""}
                Continuar Leyendo
              .general-blog__icon
                %a{:href=>""}
                  %img{:src=>"assets/img/blog/share.png"}/
                %a{:href=>""}
                  %img{:src=>"assets/img/blog/comment.png"}/
                  0 comentarios     
          .blog-general__paginator
            %a{:href=>""} 1
            %a{:href=>""} 2
            %a{:href=>""}
              %img{:src=>"assets/img/blog/next.png"}/

        .blog-sidebar
          .blog-sidebar__content
            %p.blog-sidebar__title
              Categorias
            %ul.blog-sidebar__categorie
              %li 
                %a{:href=>""}
                  Boho living
              %li 
                %a{:href=>""}
                  Tatto boho
              %li
                %a{:href=>""}
                  Beach boho style
          .blog-sidebar__content
            %p.blog-sidebar__title
              Síguenos
            %ul.blog-sidebar__follow.blog-sidebar__box
              %li
                %a{:href=>""}
                  %img{:src=>"assets/img/fb.png" }/
              %li
                %a{:href=>""}
                  %img{:src=>"assets/img/ig.png" }/
              %li
                %a{:href=>""}
                  %img{:src=>"assets/img/pr.png" }/
          .blog-sidebar__content
            %p.blog-sidebar__title
              Post recientes
            .blog-sidebar__post
              .blog-post__item
                %img{:src=>"assets/img/blog/image_4.png" }/ 
                .blog-post__text
                  %p Enero 12 del 2020
                  %a{:href=>""} Lorem ipsum
              .blog-post__item
                %img{:src=>"assets/img/blog/image_4.png" }/ 
                .blog-post__text
                  %p January 12, 2020
                  %a{:href=>""} Lorem ipsum
              .blog-post__item
                %img{:src=>"assets/img/blog/image_4.png" }/ 
                .blog-post__text
                  %p January 12, 2020
                  %a{:href=>""} Bell on a building                                  
          .blog-sidebar__poster
            %img{:src=>"assets/img/blog/image_5.png" }/
            .blog-sidebar__text
              %h2 2020
              %p New Collection
              %a.general-btn__rose{:href=>""} Comprar



    %footer.main-footer
      .padding-right-left.padding-top-bottom
        .container-grid
          .main-footer__item
            .main-footer__logo
              %img{:src=>"assets/img/logo.png" }/
            %p.main-footer__description
              Lorem Ipsum is simply dummy text of the printing and typesetting industry lorem Ipsum has been the industry’s.
            .main-footer__rrss
              %p Síguenos en
              %a.rrss__item{:href=>"", :target=>"_blank"}
                %img{:src=>"assets/img/fb.png" }/
              %a.rrss__item{:href=>"", :target=>"_blank"}
                %img{:src=>"assets/img/ig.png" }/
            
              %a.rrss__item{:href=>"", :target=>"_blank"}
                %img{:src=>"assets/img/pr.png" }/
          
          .main-footer__item
            %h2.main-footer__title
              Quick Shop 
            %ul.site-map
              %li
                %a{:href=>"new-in.html"}
                  New in
              %li
                %a{:href=>""}
                  Recomendados
              %li
                %a{:href=>""}
                  Productos 
              %li
                %a{:href=>""}
                  Cats & Dogs
                %li
                %a{:href=>"complementos-accesorios.html"}
                  Accesorios 
              %li
                %a{:href=>""}
                  Personalizados                   
          .main-footer__item
            %h2.main-footer__title
              Más información 
            %ul.site-map
              %li
                %a{:href=>"nosotros.html"}
                  Nosotros 
              %li
                %a{:href=>""}
                  Guía de tallas
              %li
                %a{:href=>""}
                  Envíos
              %li
                %a{:href=>""}
                  Políticas y privacidad 
              %li
                %a{:href=>""}
                  Términos y condiciones            
          .main-footer__item
            %h2.main-footer__title
              Contacto
            %ul.main-footer__contact
              %li
                %img{:src=>"assets/img/place.png" }/
                %a{:href=>""}
                  Carrera 51b #78-40
              %li
                %img{:src=>"assets/img/envelope.png" }/
                %a{:href=>""}
                  Email: info@rosary.com
              %li
                %img{:src=>"assets/img/phone-call.png" }/
                %a{:href=>""}
                  Phone: 57 (4) 444 35 69                     
    -# %a#js_up.boton-subir.slider-top{:href => "#"}
    -#   %img{:src=>"assets/img/button@3x.png", :alt=>"icon chat"}
    .main-powered
      .container 
        .d-flex.justify-content-center.main-powered__flex
          %p Copyright 2020
          %a{:href=>""}Branch
          %p - Sitios Web
    -# .main-whatsapp
    -#   %a{ :href=>" "}
    -#     %img{:src=>"assets/img/whatsapp@3x.png", :alt=>"icon chat"}

    %script{src: 'assets/js/jquery.min.js' }
    %script{:crossorigin => "anonymous", :integrity => "sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1", :src => "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"}
    %script{:crossorigin => "anonymous", :integrity => "sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM", :src => "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"}
    %script{src: 'assets/js/slick.min.js' }
    %script{src: 'assets/js/setting-slick.js' }
    %script{src: 'https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js' }
    %script{src: 'assets/js/main.js' }

