!!!
%html{ lang: 'en' }
  %head
    %meta{ charset: 'UTF-8' }/
    %meta{ content: 'width=device-width, initial-scale=1.0', name:'viewport' }/
    %title Rosary
    %link{:crossorigin => "anonymous", :href => "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css", :integrity => "sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T", :rel => "stylesheet"}/
    %link{ rel: 'stylesheet', href:'assets/css/font-awesome.css' }/
    %link{ rel: 'stylesheet', href:'assets/css/font-awesome.css' }/
    %link{ rel: 'stylesheet', href:'assets/css/slick-theme.css' }/
    %link{ rel: 'stylesheet', href:'assets/css/slick.css' }/
    %link{ rel: 'stylesheet', href:'assets/css/main.css' }/
    %link{ rel: 'stylesheet', href:'https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css' }/
    %link{:href => "assets/img/favicon.png", :rel => "shortcut icon"}/
    %link{ href:'https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900|Open+Sans:300,400,600,700,800|Poppins:100,200,300,400,500,600,700,800,900&display=swap',  rel:'stylesheet' }/
  %body
    %section.pre-navbar
      %p AHORA  | ENVÍO GRATIS - CUPÓN: GRATIS
    %header.header-solid    
      %nav.navbar.navbar-expand-lg
        .container-nav
          .main-brand__top
            .main-brand
              %a.navbar-brand{ :href => 'index.html' }
                %img#iso{ :src => 'assets/img/logo.png'}/ 
          .main-brand__fixed
            .main-brand
              %a.navbar-brand{ :href => 'index.html' }
                %img#iso{ :src => 'assets/img/logo.png' }/ 
          .main-brand.brand-responsive
            %a.navbar-brand{ :href => 'index.html' }
              %img#iso{ :src => 'assets/img/logo.png'}/ 
            %button.navbar-toggler.p-2.border-0.hamburger.hamburger--elastic.ml-autos{ 'data-toggle' => 'offcanvas', :type => 'button' }
              %span.hamburger-box
              %span.hamburger-inner
          .navbar-collapse.offcanvas-collapse
            %ul.navbar-nav.mr-autos
              %li.nav-item
                %a.nav-link{:href => 'new-in.html',:data-toggle => 'offcanvas' } 
                  New in 
              %li.nav-item
                %a.nav-link{:href => '',:data-toggle => 'offcanvas' } 
                  Recomendados
              %li.nav-item
                %a.nav-link{:href => '',:data-toggle => 'offcanvas' } 
                  Productos
              %li.nav-item
                %a.nav-link{:href => '',:data-toggle => 'offcanvas' } 
                  Cats & Dogs
              %li.nav-item
                %a.nav-link{:href => 'complementos-accesorios.html',:data-toggle => 'offcanvas' } 
                  Accesorios
              %li.nav-item
                %a.nav-link{:href => 'personalizados.html',:data-toggle => 'offcanvas' } 
                  Personalizados
              %li.nav-item
                %a.nav-link{:href => 'nosotros.html',:data-toggle => 'offcanvas' } 
                  Nosotros
              %li.nav-item
                %a.nav-link{:href => 'blog.html',:data-toggle => 'offcanvas' } 
                  Blog
              %li.nav-item
                %a.nav-link{:href => '',:data-toggle => 'offcanvas' } 
                  Diseñalo tú mismo
              %li.nav-item
                %a.nav-link{:href => '',:data-toggle => 'offcanvas' } 
                  outlet
              %ul.nav-icon
                %li
                  %a.nav-link{:href => '',:data-toggle => 'offcanvas' } 
                    %img{:src=>"assets/img/profile@2x.png"}/ 
                %li
                  %a.nav-link{:href => '',:data-toggle => 'offcanvas' } 
                    %img{:src=>"assets/img/heart@2x.png"}/ 
                %li
                  %a.nav-link{:href => '',:data-toggle => 'offcanvas' } 
                    %img{:src=>"assets/img/bag@2x.png"}/ 

    
    %section.general-banner
      %img{:src=>"assets/img/politicas.png" }/
      .general-banner__text
        %h2.main-general__title
          Políticas y 
          %br/
          Privacidad
        %p.general-banner__subtitle
          Rosary
    %section.general-legal
      .padding-top-bottom.padding-right-left
        .general-legal__item
          %h2.general-legal__title
            POLÍTICAS Y PRIVACIDAD
          %p.general-legal__description
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
          %p.general-legal__description
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        .general-legal__item
          %h2.general-legal__title
            Requerido por la ley
          %p.general-legal__description
            Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32. Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
        .general-legal__item
          %h2.general-legal__title
            Requerido por los servicios de terceros
          %p.general-legal__description
            Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet.
        .general-legal__item
          %h2.general-legal__title
            Transparencia
          %p.general-legal__description
            Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet.f the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet.
        .general-legal__item
          %h2.general-legal__title
            Cláusulas recomendadas para las políticas de privacidad
          %p.general-legal__description
            Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. 


    %footer.main-footer
      .padding-right-left.padding-top-bottom
        .container-grid
          .main-footer__item
            .main-footer__logo
              %img{:src=>"assets/img/logo.png" }/
            %p.main-footer__description
              Lorem Ipsum is simply dummy text of the printing and typesetting industry lorem Ipsum has been the industry’s.
            .main-footer__rrss
              %p Síguenos en
              %a.rrss__item{:href=>"", :target=>"_blank"}
                %img{:src=>"assets/img/fb.png" }/
              %a.rrss__item{:href=>"", :target=>"_blank"}
                %img{:src=>"assets/img/ig.png" }/
            
              %a.rrss__item{:href=>"", :target=>"_blank"}
                %img{:src=>"assets/img/pr.png" }/
          
          .main-footer__item
            %h2.main-footer__title
              Quick Shop 
            %ul.site-map
              %li
                %a{:href=>"new-in.html"}
                  New in
              %li
                %a{:href=>""}
                  Recomendados
              %li
                %a{:href=>""}
                  Productos 
              %li
                %a{:href=>""}
                  Cats & Dogs
              %li
                %a{:href=>"complementos-accesorios.html"}
                  Accesorios 
              %li
                %a{:href=>"personalizados.html"}
                  Personalizados                   
          .main-footer__item
            %h2.main-footer__title
              Más información 
            %ul.site-map
              %li
                %a{:href=>"nosotros.html"}
                  Nosotros 
              %li
                %a{:href=>""}
                  Guía de tallas
              %li
                %a{:href=>"entregas-y-devoluciones.html"}
                  Envíos
              %li
                %a{:href=>"politicas-y-privacidad.html"}
                  Políticas y privacidad 
              %li
                %a{:href=>"terminos-y-condiciones.html"}
                  Términos y condiciones            
          .main-footer__item
            %h2.main-footer__title
              Contacto
            %ul.main-footer__contact
              %li
                %img{:src=>"assets/img/place.png" }/
                %a{:href=>""}
                  Carrera 51b #78-40
              %li
                %img{:src=>"assets/img/envelope.png" }/
                %a{:href=>""}
                  Email: info@rosary.com
              %li
                %img{:src=>"assets/img/phone-call.png" }/
                %a{:href=>""}
                  Phone: 57 (4) 444 35 69                     
    -# %a#js_up.boton-subir.slider-top{:href => "#"}
    -#   %img{:src=>"assets/img/button@3x.png", :alt=>"icon chat"}
    .main-powered
      .container 
        .d-flex.justify-content-center.main-powered__flex
          %p Copyright 2020
          %a{:href=>""}Branch
          %p - Sitios Web
    -# .main-whatsapp
    -#   %a{ :href=>" "}
    -#     %img{:src=>"assets/img/whatsapp@3x.png", :alt=>"icon chat"}

    %script{src: 'assets/js/jquery.min.js' }
    %script{:crossorigin => "anonymous", :integrity => "sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1", :src => "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"}
    %script{:crossorigin => "anonymous", :integrity => "sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM", :src => "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"}
    %script{src: 'assets/js/slick.min.js' }
    %script{src: 'assets/js/setting-slick.js' }
    %script{src: 'https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js' }
    %script{src: 'assets/js/main.js' }

